
.imagep {

  text-align: right;

}


.imago {

  text-align: center;
}

.card-footer {
background-color: white;
  text-align: right;
}


.card-body {
  text-align: right;
}


.image {

  text-align: right;
}
